body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: white;
    padding: 30px;
    background-image: url("leba.jpg") ;
    background-size: cover;
     
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}

h1{
    background-color: black;
    color: white;
}

h2{
    background-color: rgb(43, 66, 82);
    color: white;
}

.button{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5%;
}

.buton:hover{
    background-color: white;
    color: black;
    border-radius: 5%;

}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 20px;
    
}

table, th, td {
    border: 2px solid black;
    border-radius: 9%;
    font-size: 20px;
    
}

th, td {
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

.error {
    color: rgb(255, 0, 0);
}
